<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otstore.repository.ProductRepository">

	<insert id="insertProduct" parameterType="Product">
		insert into product (title, category, color, price, stock, file, content, soldCnt) 
		values (#{title}, #{category}, #{color}, #{price}, #{stock}, #{file}, #{content}, 0)
	</insert>

</mapper>




