<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otstore.repository.ProductRepository">

	<insert id="insertProduct" parameterType="Product">
		insert into product
		(title, category, color, price, stock, file, content, soldCnt)
		values
		(#{title}, #{category}, #{color}, #{price}, #{stock}, #{file},
		#{content}, 0)
	</insert>

	<select id="selectList" parameterType="map" resultType="Product">
		select prodNo, title, category, price, file from product
		<if test="category != 0">
			where category = #{category}
		</if>
		order by prodNo desc
		limit #{page}, 12
	</select>

	<select id="bestList" resultType="Product">
		select prodNo, title, category, price, file from product
		order by soldCnt desc
		limit 1, 8
	</select>

	<select id="totalProduct" parameterType="map" resultType="int">
		select count(*) from product
		<if test="category != 0">
			where category = ${category}
		</if>
	</select>

	<select id="viewProduct" parameterType="int"
		resultType="Product">
		select * from product
		where prodNo = #{prodNo}
	</select>
</mapper>




